* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

:root {
    --container-width: 60vh;
    --header-height: 10vh;
    /* --body-green: #88BC72; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

container {
    height: 70vh;
    width: var(--container-width);
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-rows: 10vh, 1fr; */
    /* border: 5px solid black; */
}

header {
    grid-template-rows: span 1;
    border: 5px solid black;
    height: var(--header-height);
    width: var(--container-width);
}

#board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-start;
    grid-template-columns: 2 / span 1;
    /* height: var(--container-width); */
    /* width: var(--container-width); */
}

#board > .square {
    height: 10px; 
    width: 10px;
    background-color: gray;
    border: 1px solid black;
    margin: 0;
}

#mine {
    height: 7px; 
    width: 7px;
    /* border-radius: 50%; */
    /* background-color: red; */
    
}